:root {
  color-scheme: light dark;
  box-sizing: border-box;
  font-family: sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
}

html,
body {
  margin: 0;
  width: 100%;
  background-color: black;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

canvas,
button,
select,
input,
iframe,
textarea {
  border: none;
  outline: none;
}

button:hover,
input[type="submit"]:hover {
  cursor: pointer;
}

img,
object,
video {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

li,
ul {
  list-style: none;
}

input:not([type="checkbox"], [type="radio"]) {
  width: 100%;
}

input:not([type="checkbox"], [type="radio"], [type="range"], [type="file"]) {
  padding: 0.75rem 1rem;
}

:where(input, select, textarea)+small {
  display: block;
}

button,
input {
  text-transform: capitalize;
  font-size: 1.5rem;
  border: 1px solid white;
  background: none;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.wh-full {
  width: 100%;
  height: 100vh;
}

.my {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.mx {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.flex {
  display: flex;

}

.border {
  border: 1px solid white;
}