# .gitconfig

[user]
	name = mhimranhossain
	email = mh.imranhossain@outlook.com
[code]
	editor = code --wait
	autocrlf = true
[diff]
  tool = code
[difftool "vscode"]
  cmd = code --wait --diff $LOCAL $REMOTE
[merge]
  tool = code
[mergetool "vscode"]
  cmd = code --wait $MERGED
[safe]
    directory = *
[core]
	editor = code
	autocrlf = true
	safecrlf = false
[push]
	autoSetupRemote = true
